:root{
    --primary: #6209DB;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    min-height: 98px;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}

.navbar .btn{
    padding: .625rem 1.25rem !important;
}

.text-primary{
    color: var(--primary) !important;
}


.btn{
    padding: 1rem;
}


/* Hero */

.bg-primary{
    background-color: var(--primary) !important;
}

.content{
    max-width: 500px;
}

#hero{
    height: 900px;
}