@use '../abstracts/variables' as a;

.bg-light{
    background-color: a.$grey !important;
}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

@media (max-width:992px){

    .call-to-action img {
        max-width: 100%;
    }

}