
@use '../abstracts/variables' as m;

.navbar{
    min-height: 98px;
    z-index: 1000;
}



.btn-primary{
    background-color: m.$primary;
    border-color: m.$primary;
}

.btn-primary:hover{
    background-color: #008DDA;
    border-color:#008DDA;
}

.btn-light {
    background-color: m.$light;
    color: m.$primary;
}

.navbar .btn{
    padding: .625rem 1.25rem !important;
}

.text-primary{
    color: m.$primary !important;
}


.btn{
    padding: 1rem;
}
