.step{
    position: relative;
    display: flex;
    justify-content: center;

}

.step::after{
    content: "";
    border-right: 1px solid black;
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .2;
}